@mixin project-button {
  font-family: $primary-font;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  background-color: $main-color;
  border-radius: 50px;
  padding: 16px 30px;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    background-color: #077AA9;
  }
  
  &:disabled {
    background-color: #B3C8D1;
    color: #FFFFFF;
    cursor: not-allowed;
    border: 1px solid #B3C8D1;
  }
}

@mixin order-button {
  color: #00A0E2;
  background-color: #FFFFFF;
  border: 1px solid #00A0E2;
  border-radius: 50px;
  text-transform: none;
  font-size: 12px;
  font-weight: 400;
  padding: 16px 85px;
  align-items: center;
  text-align: center;
}