.header {
  padding-top: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}