.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 7px;

  @media (width >= $tablet-width) {
    margin-top: 0;
    gap: 40px;
    justify-content: right;
  }

  @media (width >= $desktop-width) {
    width: 130px;
    margin-left: 51px;
    gap: 0;
    justify-content: space-between;
  }
}

.social-list--footer {
  margin-left: 0;
}

.social-list__button {
  display: block;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    margin: auto 0;
    background-color: #666666;
  }

  @media (width >= $tablet-width) {
    &::before {
      width: 40px;
      height: 40px;
    }
  }
  
  @media (width >= $desktop-width) {
    &::before {
      width: 30px;
      height: 30px;
    }

    &:hover::before {
      opacity: 0.6;
    }

    &:active::before {
      opacity: 0.3;
    }
  }
}

.social-list__button--github {
  &::before {
    mask-image: url("@img/icons/icons.svg#github-icon");
  }
}

.social-list__button--twitter {
  &::before {
    mask-image: url("@img/icons/icons.svg#twitter-icon");
  }
}

.social-list__button--linkedin {
  &::before {
    mask-image: url("@img/icons/icons.svg#linkedin-icon");
  }
}

.social-list__button--footer {
  &::before {
  background-color: #42446E;
  }
}

