.tech-stack {
  padding: 0;
  padding-top: 300px;
  margin: 0;
}

.tech-stack__title {
  margin: 0;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #42446E;
  margin-bottom: 49px;
}

.tech-stack__description {
  margin: 0;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #666666;
  margin-bottom: 140px;
}

.tech-stack__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  margin: 0 auto;
  gap: 20px;

  @media (width >= $tablet-width) {
    max-width: 768px;
  }

  @media (width >= $desktop-width) {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(6, 1fr);
    column-gap: 103px;
    row-gap: 70px;
    max-width: none;
  }
}